h1#publications Publications

h2#talks Talks
ul.slides
  li.slide
    a[
      href="http://www.slideshare.net/harukayon/c045tokyo-pub"
      class="btn slide-popover"
      title="Discovery - 思いがけない発見"
      data-html="true"
      data-animation="false"
      data-placement="bottom"
      data-trigger="hover"
      data-content="<ul><li>Kosenconf-045Tokyo</li><li>2012-12-04</li></ul>"
    ]
      img src="images/publications/discovery.jpg" alt="slide image"
  li.slide
    a[
      href="http://www.slideshare.net/harukayon/pixiv2-nseg-feat"
      class="btn slide-popover"
      title="pixivのインフラになって2ヶ月がたった"
      data-html="true"
      data-animation="false"
      data-placement="bottom"
      data-trigger="hover"
      data-content="<ul><li>NSEG feat. 高専カンファレンス</li><li>2012-12-04</li></ul>"
    ]
      img src="images/publications/nseg-kosenconf.jpg" alt="slide image"
  li.slide
    a[
      href="http://www.slideshare.net/harukayon/ngx-lua-public"
      class="btn slide-popover"
      title="Using ngx_lua in pixiv"
      data-html="true"
      data-animation="false"
      data-placement="bottom"
      data-trigger="hover"
      data-content="<ul><li>ドリコム/リブセンス/pixiv合同勉強会</li><li>2012-12-04</li></ul>"
    ]
      img src="images/publications/ngx-lua-pixiv.jpg" alt="slide image"
  li.slide
    a[
      href="https://speakerdeck.com/harukasan/the-technology-behind-pixiv-infrastructure"
      class="btn slide-popover"
      title="pixivのインフラを支える技術2013 "
      data-html="true"
      data-animation="false"
      data-placement="bottom"
      data-trigger="hover"
      data-content="<ul><li>Python Developers Festa</li><li>2013-11-30</li></ul>"
    ]
      img src="images/publications/pyfes.jpg" alt="slide image"

